@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(75, 136, 145);
    height: 100vh;
}

.site-title h1 {
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 2rem;
    margin: 0;
}

.subtitle {
    font-weight: 700;
    color: #000000;
    font-size: 0.75rem;
    margin: 0;
    text-transform: capitalize;
}

.container {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

header {
    background-color: white;
    padding: 2em 0;
    box-shadow: 0 4px 8px 0 rgba(22, 22, 22, .19);
}

@media (max-width: 675px) {
    .container-nav {
        flex-direction: column;
    }

    header {
        text-align: center;
    }
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-transform: capitalize;
    padding: 2em 0;
}

nav a:hover, nav a:focus {
    color: black;
}

.current-page {
    color: black;
}

.current-page:hover {
    color: black;
}

@media (max-width: 675px) {
    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 0.5em 0;
    }
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(75, 136, 145);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: black;
}

.landing-text h3 {
    font-weight: 700;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.landing-text h1 {
    font-size: 450%;
    font-weight: 700;
    color: black;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 0;
    margin: 0;
}
@media (max-width : 600px)
{
    .landing-text h1 
    {
        font-size: 260%
        
    }
}
.btn-hire
{
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
}
.btn-hire:hover,.btn-hire:focus
{
    background-color: #163172;

}
@media (max-width: 800px)
{
    .btn-hire
    {
        padding: 8px 16px;

    }
}
#hr-main
{
width: 100px;
height: 5px;
border-radius: 1rem;
background-color: white;
margin-bottom: 8px;
}
    
