@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: skyblue;
    height: 100vh;
    position: center;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 .button {
    color: black;
    padding: 2em 0;
    text-decoration: none;
    padding: 2em 0;
}

h1 .button:hover {
    color: rgb(107, 74, 74);
}

.site-title h1 {
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: black;
    font-size: 1.5rem;
    margin: 0;
    font-weight: 100rem;
}

.container {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

header {
    background-color: white;
    padding: 2em 0;
    box-shadow: 0 4px 8px 0 rgba(22, 22, 22, .19);
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 1000;
    left: 0;
    top: 0;
}

.footDiv {
    display: flex;
    flex-direction: column;
    padding: 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-transform: capitalize;
    padding: 2em 0;
}

nav a:hover, nav a:focus {
    color: rgb(107, 74, 74);
}

.current-page {
    color: black;
}

.current-page:hover {
    color: rgb(107, 74, 74);
}

.buttonAppoint {
    background-color: white;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s, transform 0.3s;
}

.buttonAppoint:hover {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    transform: scale(1.05);
}

.buttonAppoint:active {
    scale: (1.0);
    background-color: rgb(200, 224, 233);
}

.welcome-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: black;
}

.welcome-text h3 {
    font-weight: 700;
    font-size: 125%;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
}

.welcome-text h1 {
    font-size: 400%;
    font-weight: 700;
    color: black;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 0;
    margin: 0;
}

#hr-main {
    width: 100px;
    height: 5px;
    border-radius: 1rem;
    background-color: white;
    margin-bottom: 8px;
}

/*Contact form begin*/

form {
    color: black;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

#appointment-form h3 {
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Montserrat', sans-serif;
}

.textbox-container {
    text-align: center;
    font-weight: 700;
    font-family: 'Montserrat';
    font-size: 3.2rem;
    color: #000;
}

.textbox, .email, .date, .time, .phoneno, .input-field {
    background-color: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    width: calc(100% - 32px);
    margin-bottom: 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.textbox:focus, .email:focus, .phoneno:focus, .input-field:focus, .date:focus {
    border-color: #007BFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
}

.confirm {
    position: center;
    align-items: center;
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
    color: #3c4043;
    cursor: pointer;
    display: inline-flex;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 500;
    height: 48px;
    justify-content: center;
    text-align: center;
    width: 150px;
    transition: background-color 0.3s, transform 0.3s;
}

.confirm:hover {
    transform: scale(1.05);
    background-color: rgb(240, 239, 239);
}

/* begin popUp design */

.popup {
    width: 400px;
    background: white;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    text-align: center;
    padding: 0 30px 60px;
    color: #333;
    visibility: hidden;
    transition: transform 0.3s, visibility 0.3s;
}

.popup h2 {
    font-size: 38px;
    margin: 30px 0 10px;
    font-weight: 500;
}

.thanksBtn {
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    background-color: rgb(135, 206, 235);
    box-shadow: 0 2px 2px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.thanksBtn:hover {
    background-color: rgb(101, 188, 223);
    transform: scale(1.05);
}

.thanksBtn:active {
    background-color: rgb(38, 175, 230);
}

.open-popup {
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

/* end popUp design */

/* footer design */

footer {
    flex-shrink: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 1000%;
    transition: background-color 0.5s;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
    transition: color 0.2s;
}

.socialIcons a:hover {
    background-color: #333;
}

.socialIcons a:hover i {
    color: white;
}

/* end foot design */

@media (max-width: 600px) {
    .container-nav {
        flex-direction: column;
    }

    header {
        background-color: white;
        padding: 1em 0;
        box-shadow: 0 4px 8px 0 rgba(22, 22, 22, .19);
        width: 100%;
        position: fixed;
        height: fit-content;
        left: 0;
        top: 0;
        font-size: 8px;
        text-align: center;
    }

    header .button {
        font-size: 21px;
    }

    .welcome-text h1 {
        font-size: 200%;
    }

    .buttonAppoint {
        padding: 10px 20px;
        font-size: 14px;
    }

    footer {
        padding: 5px;
        font-size: 8px;
    }

    .textbox, .date, .time, .email, .phoneno, .input-field {
        font-size: 10px;
    }

    .confirm {
        position: absolute;
        top: 70%;
        left: 50%;
        font-size: 10px;
        align-items: center;
        background-color: #fff;
        border-radius: 24px;
        border-style: none;
        box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
        color: #3c4043;
        cursor: pointer;
        display: inline-flex;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        justify-content: center;
        text-align: center;
        width: 100px;
    }

    #appointment-form h3 {
        font-size: 20px;
    }

    .popup {
        width: 90%;
        padding: 20px 10px 40px;
    }

    .popup h2 {
        font-size: 28px;
        margin: 20px 0 5px;
    }

    .thanksBtn {
        font-size: 14px;
        padding: 8px 0;
    }
}

::-webkit-scrollbar {
    display: block;
}

.websiteLogo {
    border-radius: 10px;
}
